.text-lime-orange:hover{
	--tw-text-opacity: 1;
    color: rgba(255,219,95,var(--tw-text-opacity));
}
.news-content .text-lime-orange a{
	--tw-text-opacity: 1;
    color: rgba(255,219,95,var(--tw-text-opacity));
    text-decoration: none;
}
    