.profile-edit-menu{
padding-left:10rem !important;

}
@media screen and (max-width: 1025px){
.profile-edit-menu{
padding-left:2rem !important;
}

}
@media screen and (max-width: 769px){
.profile-edit-menu{
padding-left:1rem !important;
}
}
@media screen and (max-width: 641px){
.profile-edit-menu{
padding-left:0rem !important;
}
}